@charset "UTF-8";

/* font-size */
.fz_dw{font-size:0.875em;}
.fz_up{font-size:1.125em;}
.f12{font-size: 0.75em;}
.f13{font-size: 0.813em;}
.f14{font-size: 0.875em;}
.f15{font-size: 0.938em;}
.f18{font-size: 1.125em;}
.f20{font-size: 1.25em;}

.bold{font-weight: bold;}
.normal{font-weight: normal;font-style: normal;}

/* color */
.t_white{color:#fff}
.t_black{color:#222}
.t_red{color:#df1313}
.t_orange{color:#ea7724}
.t_green{color:#019676 !important;}
.t_blue{color:#3fb0ff;}
.t_gray{color:#999}
.t_yellow{color:#ffc000;}
.t_brown{color: #90594b;}
.t_darkred {color:#ad0f14 !important;}

/* text-align */
.t_center{text-align:center;}
.t_left{text-align:left;}
.t_right{text-align:right;}

/* float */
.f_left{float:left;}
.f_right{float:right;}
.clear{clear:both;
	&:after{
		content: '';display: block;clear: both;
	}
}

/* margin */
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}

/* width */
.w60{width:60px}
.w80{width:80px}
.w100{width:100px}
.w120{width:120px}
.w140{width:140px}
.w160{width:160px}
.w180{width:180px}
.w200{width:200px}
.w_50{width:50%}
.w_80{width:80%}
.w_100{width:100%}

/* etc */
.w_none{display:none;}
.block{display:block;}
.inblock{display:inline-block;}
.hide{display:none;}
.hidden{overflow:hidden;}
.blind{position:absolute;overflow:hidden;visibility:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.bgLayer{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:#333;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;z-index:160;}
.wait-animation{-webkit-animation-play-state:paused;animation-play-state:paused;}

/*blur, grayscale */
.blur img{filter:blur(6px);}
.grayscale img{
    filter:url(filters.svg#gray);filter:gray;-moz-filter:grayscale(1);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);-webkit-filter:grayscale(1);
}
a.grayscale:hover img, a.grayscale:focus img, a.grayscale:active img{filter:none;}

.cont_tit{
	font-size: 1.5em;color: #ad0f14;
}
.img_box{
	text-align: center;
	img{max-width: 100%;}
	&.full img{max-width: 100%;}
}
.m_img{
	display:none;
	@include respond-to('ly-m') {
		display:block;
	}
}
@include respond-to('ly-m') {
	.w_img{display:none;}
}

body .ui-tooltip{font-size:0.75em;border-width:1px;box-shadow:none}
.alert_tip{position:absolute;color:#fff;background:#eb1c23;padding:3px 5px;border-radius:5px;}

#loading{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(255,255,255,0.7);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:500;
	> div{
		position:absolute;top:50%;left:50%;transform-origin:-150% 50%;
		i{display:block;background:#222;width:6px;height:6px;border-radius:50%;animation:loading-bubble 1s infinite;animation-delay:inherit;}
		&:nth-child(1){transform:translateX(200%) rotate(-90deg);animation-delay:-1.5s;}
		&:nth-child(2){transform:translateX(200%) rotate(-45deg);animation-delay:-1.375s;}
		&:nth-child(3){transform:translateX(200%);animation-delay:-1.25s;}
		&:nth-child(4){transform:translateX(200%) rotate(45deg);animation-delay:-1.125s;}
		&:nth-child(5){transform:translateX(200%) rotate(90deg);animation-delay:-1s;}
		&:nth-child(6){transform:translateX(200%) rotate(135deg);animation-delay:-0.875s;}
		&:nth-child(7){transform:translateX(200%) rotate(180deg);animation-delay:-0.75s;}
		&:nth-child(8){transform:translateX(200%) rotate(225deg);animation-delay:-0.625s;}
	}
}
@keyframes loading-bubble{0%, 100%{transform:scale(0);}50%{transform:scale(1);}}

/* 버튼 */
.button{
	display:inline-block;padding:0px 15px;line-height:38px;border:1px solid #ddd;color:#222;background:#fff;text-align:center;vertical-align:middle;box-sizing:border-box;font-size:16px;cursor: pointer;border-radius:5px;-webkit-appearance:none;
	@include respond-to('ly-m'){
		padding:0px 10px;line-height: 28px;font-size: 12px;
	}
	&.disabled{cursor: not-allowed;}

	&.h20{
		padding:0px 5px;line-height:18px;font-size:11px;
		@include respond-to('ly-m'){		
			padding:0px 3px;line-height: 13px;font-size: 10px;
		}
	}
	&.h30{
		padding:0px 10px;line-height:28px;font-size:13px;
		@include respond-to('ly-m'){
			padding:0px 5px;line-height: 18px;font-size: 11px;
		}
	}
	&.h50{padding:0px 20px;line-height:48px;font-size:18px;
		@include respond-to('ly-m'){
			padding:0px 15px;line-height: 33px;font-size: 14px;
		}
	}

	&.btn_gray{background:#aaaaaa;color:#fff;border-color:#aaaaaa;}
	&.btn_black{background:#555555;color:#fff;border-color: #555555;}
	&.btn_org{background:#fff;border-color:#ee7039;color:#ee7039;}
	&.btn_red{background:#ad0f14;border-color:#ad0f14;color:#fff;}
	&.btn_green{background:#019676;border-color:#019676;color:#fff;}
	
	&.w100{width:100px;padding-left:0;padding-right:0;}
	&.w200{width:200px;padding-left:0;padding-right:0;}
}
.button_wrap{
	position:relative;margin-top:5em;text-align:center;overflow:hidden;	
	.button{
		padding: 0;width: 200px;margin: 3px 10px;
	}
	&.pop_btn{
		margin-top: 2em;padding: 0;
		.button{
			width: 120px;margin: 3px;
			@include respond-to('ly-m'){
				width: 100%;
			}
		}
	}
	@include respond-to('ly-m'){
		&:after{content:'';display:block;clear:both;}
		.button{float: left;width:100%;margin:3px 0 3px 2%;margin-right: 0 !important;
			&:first-child{margin-left: 0;}
		}
		&.btn2 .button{
			width: 49%;
			&:nth-child(3){margin-left:0;}
		}
		&.btn3 .button{width: 32%;}
		&.btn4 .button{width: 23.5%;}
	}
	
}

.btn_sort{
	display:inline-block;border:1px solid #ddd;vertical-align:middle;overflow: hidden;
	a{
		display:block;float:left;padding:0px 10px;min-width:80px;border-left:1px solid #ddd;text-align:center;line-height:38px;
		@include respond-to('ly-m'){
			padding:0px 5px;min-width:30px;line-height: 28px;font-size: 11px;
		}
		&:first-child{border-left:0 none;}
		&.on{color:#fff;background:#08926c;}
	}
}

.sel_list{
	display: inline-block;position:relative;border:1px solid #ccc;background:#fff;vertical-align: middle;border-radius: 4px;box-sizing:border-box;
	a{
		display:block;padding:10px;font-size:13px;overflow:hidden;
		@include respond-to('ly-m'){
			padding: 5px;font-size:11px;
		}
	}
	> a{
		position:relative;padding-right:31px;line-height:18px;
		@include ellipsis();
		@include respond-to('ly-m'){
			padding-right:16px;
		}
		&:after{
			content: '';
			display: block;position: absolute;right: 10px;top:50%;margin-top: -3px;
			@include getSprite($common-sel_list);
			@include respond-to('ly-m'){
				right: 5px;
				@include getSpriteRetina($common-sel_list);
			}
		}
	}
	ul{
		display:none;position:absolute;left:-1px;right:-1px;border:1px solid #ccc;border-top:0 none;top:100%;width:100%;background:#fafafa;z-index: 1;
		a:hover,
		a:focus{background:#eee;}
		.on a{font-weight:bold;color:#222;}
	}
	&.on ul{display:block;}
}

/* icon */
.ic_txt{
	display:inline-block;border:1px solid #4c4c4c;text-align:center;color:#fff;padding:0px 5px;vertical-align:middle;background:#4c4c4c;font-size:0.75em;line-height:1.3;font-style: normal;
	&.ic_white{color:#ad0f14;border-color:#ad0f14;background:#fff;}
	&.ic_red{background:#ad0f14;border-color:#ad0f14;}
	&.ic_green{background:#18a327;border-color:#18a327;}
}

/* 탭메뉴 */
.tabmenu{
	display: table;width: 100%;border-bottom: 1px solid #019676;table-layout:fixed;
	> li{
		display:table-cell;width: 50%;
		> a{
			display:block;
			padding:0.5em 0;
			font-size: 1.250em;
			text-align:center;
			background:#f1f1f1;
			@include respond-to('ly-m') {
				font-size: 1em;
			}
		}
		> a:hover,
		> a:focus,
		> a:active,
		&.on > a{color:#fff;background:#019676;font-weight:bold;}
	}
	&.fl_tab{
		display: block;
		@include respond-to('ly-m'){
			display: table;
		}
		> li{
			display: block;float: left;width: auto;
			@include respond-to('ly-m'){
				display: table-cell;float: none;width: 50%;
			}
			>a{
				padding: 0.5em;min-width:15em;box-sizing: border-box;
				@include respond-to('ly-m'){
					min-width: 0;
				}
			}
		}
	}
}

.tabmenu2{
	> li{float: left;width: 50%;
		> a{
			display: block;border:1px solid #019676;text-align: center;line-height: 40px;
			@include respond-to('ly-m'){
				line-height: 30px;
			}
		}
		+ li > a{border-left: 0 none;}
		&.on > a{background: #019676;color: #fff;}
	}
}

.tab_cont, 
.rdo_cont{
	display:none;
}
.tab_cont.on{display: block;}
.rdo_cont.on{display: inline-block;}
.tab_wrap{
	height: 51px;
	@include respond-to('ly-m'){
		height: 31px;
	}
	&.fixed .tabmenu{position:fixed;left:0;right:0;top:0;z-index:30;text-align: center;}
}
.m_tabmenu {
    @include respond-to('ly-l') {
        position: relative;display: block;border:1px solid #019676;
    }
    >li{
        @include respond-to('ly-l') {
            width: 100%;
            position: relative;display: block;overflow:hidden;height:0;transition: height 0.5s ease;
        }
        a{
            @include respond-to('ly-l') {
                text-align: left;border-color:#019676;padding: 0.5em;border:0;background: #fff;
                &:hover,&:focus {
                    background: #fff;
                    color: #019676;;
                }
            }
            @include respond-to('ly-m') {
                font-size: 1.25em;
            }
        }
        &.on{
            @include respond-to('ly-l') {
                height: 50px;
            }
            @include respond-to('ly-m') {
                height: 37px;
            }
            a{
                @include respond-to('ly-l') {
                    background: #fff;color: #019676;
                    &:before{
                        content:"";display: block;width: 14px; height:14px; border: solid #019676;border-width:4px 4px 0 0;transform:rotate(134deg);transition: 0.5s ease;position:absolute;top:12px;right:16px;
                    }       
                }
                @include respond-to('ly-m') {
                    &:before{width: 7px; height:7px;border-width:2px 2px 0 0;top:14px;right:14px;}        
                }
            }
        }
    }
    &.tab_open ,  &.m_tab_open{
        li{
            height:50px;
            @include respond-to('ly-m') {
                height: 37px;
            }
            &.on{
                > a:before{
                    transform:rotate(-45deg);top:16px;
                }
            }
        }
    }
}

/*테이블*/
.tbl_wrap{
	@include respond-to('ly-m') {
		overflow:auto;
		&::-webkit-scrollbar{-webkit-appearance:none;}
		.table{width:auto;min-width:100%;}
		.table th,
		.table td{white-space:nowrap;}
	}
}
.table{
	border-bottom:1px solid #ccc;
	//table-layout:fixed;

	th, td{border-top:1px solid #cccccc;text-align:center;font-size:0.875em;}
	thead tr:first-child th{border-color: #666;}
	th{padding:15px 20px;color:#222;}
	td{padding:10px;word-break:break-all;}
	thead th{border-top-color:#666;}
	tfoot th, tfoot td{background:#f3f3f3;}
	img{max-width:100%;}
	.none{padding-top:2em !important;padding-bottom:2em !important;}

	&.tbl_left{
		th,td{text-align:left;}
		tr:first-child th,tr:first-child td{border-top-color: #666;}
	}	
	&.tbl_form{
		th{width: 15%;
			@include respond-to('ly-m'){
				width: 65px;
			}
		}
		textarea{height:300px;}
		.inp_wid{width: 340px;
			@include respond-to('ly-m'){
				width: auto;
			}
		}
		.btn1{width: 120px;padding: 0;
			@include respond-to('ly-m'){
				width: 100%;margin-top: 5px;
			}
		}
	}	
	&.tbl_row{
		tbody tr:nth-child(odd) th,
		tbody tr:nth-child(odd) td{background:#f1f1f1;}
	}
	&.tr_hover{
		tbody tr:hover th,
		tbody tr:hover td{background:#f6ffcc;}
	}
	
	.tl{text-align:left;}
	.tr{text-align:right;}
	.bg{background:#f1f1f1;
		td{border-top: 0 none;}
	}

	.in_table {
		th,
		td{padding:5px;text-align:center;background:none;border:1px solid #ddd;border-width:1px 0;}
		th{color:#666;background:#fafafa;}
	}
	@include respond-to('ly-m'){
		th{padding:13px 5px;}
		td{padding:7px 5px;}
		.button,.t_price{white-space: nowrap;}
	}
}
.tbl_info{
	overflow: hidden;margin-bottom: 1.75em;
	>div{padding: 0.25em 0;}
	.left{float: left;
		@include respond-to('ly-m'){
			float: none;
		}
	}
	.right{float: right;
		.lbl{
			margin-right: 0.5em;
		}
		@include respond-to('ly-m'){
			float: none;
		}
	}	
}

.tbl_search{
	margin-bottom:5px;text-align:right;
	.select{width:70px;}
	.input{width:150px;}
}

.bbs_list{
	border-top: 1px solid #666;
	>li{
		border-bottom: 1px solid #ccc;
		> a, > div{
			display: block;padding: 1em;
			&:after{
				@include ellipsis();
			}			
		}
		@include respond-to('ly-m'){
			span{display: block;}
		}
	}
	.date{display: block;float: right;font-size: 0.875em;padding: 0.0625em 0;
		@include respond-to('ly-m'){
			float: none;
		}
	}
}

/* list_view */
.list_view{
	display: block;border-top:1px solid #666;
	img{
		max-width:100%
	}
	> li{
		display: block;padding:1em;border-bottom:1px solid #ccc;
		&:after{
			@include clearFix();
		}
	}
	.tit{
		h4{
			float: left;font-size:1em;color: #222222;
			@include respond-to('ly-m'){
				float: none;
			}
		}
		.right{
			float:right;display:block;font-size: 0.875em;padding: 0.11em;
			@include respond-to('ly-m'){
				float: none;margin-top: 0.5em;
			}
			span{
				margin-left: 2em;
				@include respond-to('ly-m'){
					margin:0 1em 0 0;
				}
			}
		}
	}
	.cont{
		padding:2em 1em;min-height:12.5em;word-break:break-all;		
		*{
			font-family:inherit !important;
		}
	}
	.img{
		text-align:center;margin-bottom:2em;
	}
	.evt_store{
		strong,span{
			display:inline-block;margin-right: 2em;line-height: 30px;
			@include respond-to('ly-m'){
				margin-right: 1em;line-height: 20px;
			}
		}
		.button{float: right;
			@include respond-to('ly-m'){
				float: none;
			}
		}
	}

	+ .list_navi{
		border-top:0 none;
	}
}
.list_navi{
	border-top:1px solid #e6e6e6;

	li{
		padding:10px 20px;
		border-bottom:1px solid #e6e6e6;
		
		>a,
		>span{
			display:block;
			padding-left:36px;
			line-height:40px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
			-o-text-overflow:ellipsis;
		}
	}

	.prev>a, 
	.prev>span{
		background:url(../images/common/list_prev.png) no-repeat left center;
	}
	.next>a, 
	.next>span{
		background:url(../images/common/list_next.png) no-repeat left center;
	}
}

/*페이징*/
.paging{
	clear:both;margin-top:3em;text-align:center;
	a,strong{
		display:inline-block;width: 38px;height: 38px;line-height: 38px;border: 1px solid #ddd;vertical-align: top;font-size: 0.875em;
		@include respond-to('ly-m'){
			width: 19px;height: 19px;line-height: 19px;
		}
	}
	strong{
		border-color: #08926c;background: #08926c;color: #fff;
	}
	span{
		margin:0 10px;
	}
	.btn{		
		&.btn_first{
			@include getSprite($common-paging_first);
			@include respond-to('ly-m'){
				@include getSpriteRetina($common-paging_first);
			}
			&:hover{
				@include getSprite($common-paging_first_on);
				@include respond-to('ly-m'){
					@include getSpriteRetina($common-paging_first_on);
				}
			}
		}
		&.btn_prev{
			@include getSprite($common-paging_prev);
			@include respond-to('ly-m'){
				@include getSpriteRetina($common-paging_prev);
			}
			&:hover{
				@include getSprite($common-paging_prev_on);
				@include respond-to('ly-m'){
					@include getSpriteRetina($common-paging_prev_on);
				}
			}
		}
		&.btn_next{
			@include getSprite($common-paging_next);
			@include respond-to('ly-m'){
				@include getSpriteRetina($common-paging_next);
			}
			&:hover{
				@include getSprite($common-paging_next_on);
				@include respond-to('ly-m'){
					@include getSpriteRetina($common-paging_next_on);
				}
			}
		}
		&.btn_last{
			@include getSprite($common-paging_last);
			@include respond-to('ly-m'){
				@include getSpriteRetina($common-paging_last);
			}
			&:hover{@include getSprite($common-paging_last_on);}
		}
		
	}
}

/* faq */
.faq_list{
	border:1px solid #666;border-width:1px 0;margin-top: 3em;
	> li + li{
		border-top:1px solid #ccc;
	}
	> dt, > li > p{
		position:relative;padding:0 0 0 3em;border-top:1px solid #ccc;
		&:before{
			content:'Q';display:block;position:absolute;top:1.142em;left:0.714em;font-weight:bold;width: 30px; height:30px; color: #fff; background: #019676; border-radius:50%;font-size: 14px;line-height: 28px;text-indent:9px;
			@include respond-to('ly-m') {
				width: 25px; height:25px;top:0.8em;left:0.5em;line-height:23px;text-indent: 7px;font-size: 12px;
			}
		}
		&:first-child{
			border-top:0 none;
		}
		&.no_list{
			padding:1.875em 1.5em;text-align:center;background:none;color:#999;
		}
		&.on{
			background-color:#f7f7f7;
		}
		> a{
			display:block;padding:1.125em 1.5em 1.125em 0px;
		}
		> a:hover,
		> a:focus,
		> a:active,
		&.on > a{
			font-weight:bold;color:#222;
		}
	}

	> dd, > li > div{
		display:none;position:relative;padding: 1.125em 1.5em 1.125em 4.375em;background: #f1f1f1;border-top:1px solid #ccc;color:#333333;
		&:before{
			content:'A';display:block;position:absolute;top:1.074em;left:2.142em;font-weight:bold;width: 30px; height:30px; color: #fff; background: #bb141a; border-radius:50%;font-size: 14px;line-height: 29px;text-indent:11px;
			@include respond-to('ly-m') {
				width: 25px; height:25px; top:0.78em;left:1.9em;line-height:22px;;text-indent: 9px;font-size: 12px;
			}
		}
	}
}


/*etc*/
.img_area{text-align:center;overflow:hidden;
	img{max-width:100%;}
}
.txt_list{padding-left:1.2em;
	li{margin-top:5px;list-style:disc;
		&:first-child{margin-top:0;}
	}
}
.indent_list li{padding-left:10px;text-indent:-10px}
.num_list{padding-left:1.5em;
	li{list-style-type:decimal;}
}
.dot_list {
	li{position:relative;padding-left:13px;margin-top:0.35em;
		@include respond-to('ly-m'){
			padding-left: 8px;
		}
		&:after{content:'';width:2px;height:2px;position:absolute;left:0;top:12px;border-radius:100%;background:#666;
			@include respond-to('ly-m'){
				top: 10px;
			}
		}
	}
	&.f14 li{
		padding-left:8px;
		@include respond-to('ly-m'){
			padding-left: 6px;
		}
		&:after{
			top:10px;
			@include respond-to('ly-m'){
				top: 7px;
			}
		}
	}
}
.boxStyle{padding:15px 12px;border:1px solid #d0d2d8;}

.no_img{position:relative;background:#eee;text-align:center;
	img{max-width:100%;opacity:0;filter:alpha(opacity=0);}
	span{display:inline-block;width:120px;height:18px;position:absolute;left:50%;top:50%;margin:-9px 0 0 -60px;text-indent:-999em;font-size:0;color:transparent;opacity:0.5;
		@include getSprite($common-logo);
		filter:url(filters.svg#gray);
		filter:gray;
		-webkit-filter:grayscale(1);
	}
}
